<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>K VS S</title>
</head>
<body>

<div id="header-links">
    <a href="" class="header-link" id="header-link-1">Season 1</a>
    <a href="" class="header-link" id="header-link-2">Season 2</a>
    <a href="" class="header-link" id="header-link-3">Season 3</a>
    <a href="" class="header-link" id="header-link-4">Season 4</a>
    <a href="" class="header-link" id="header-link-5">Season 5</a>
    <a href="" class="header-link" id="header-link-6">Season 6</a>
    <a href="" class="header-link" id="header-link-7">ScoreBoard</a>
</div>

<div id="header-container">
    <div id="black-star-left" class="black-star"></div>
    <div id="black-star-right" class="black-star"></div>
    <div id="yellow-star"></div>
    <div id="top-bar" class="header-bars"></div>
    <div id="bottom-bar" class="header-bars"></div>
    <p id="kenny-title" class="header-text">KENNY</p>
            <div id="vs-container">
            <div id="vs-top" class="vs-bars"></div>
                <p id="vs-text">VS</p>
            <div id="vs-bottom" class="vs-bars"></div>
            </div>
    <p id="spenny-title" class="header-text">SPENNY</p>
    <div id="kenny-head" class="title-heads"></div>
    <div id="spenny-head" class="title-heads"></div>
</div>

<div id="KVS-data">
    <% for(var x = 0; x < KVSData.length; x ++){ %>
    <p class="KVS-Title"><%= KVSData[x].title %></p>
    <p class="KVS-Season">Season : <%= KVSData[x].season %> Episode : <%= KVSData[x].episode %></p>
    <p class="KVS-Winner">Winner : <%= KVSData[x].winner %></p>
    <p class="KVS-Humiliation"><%= KVSData[x].humiliation %></p>
    <% } %>
</div>

</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script src="/logic/index.js"></script>
</html>
